.keyboard__container{
    padding: 0px 0px 12px 12px;
    border: 1px solid red;
}
.keyboard__container{

    width: max-content;
}
.all__sec,.last__sec {
    display: flex;
}
.all__sec> div{
    border: 1px solid red;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 12px;
    margin-top: 12px;
}
.last__sec >div{
    border: 1px solid red;
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 12px;
    margin-top: 12px;
}

#back-space{
    width: 150px;
}
#tab{
    width: 105px;
}
#caps-lock{
    width: 115px;
}
#enter{
    width: 169px;
}
#left-shift{
    width: 150px;
}
#right-shift{
    width: 208px;
}
#space{
    width: 524px;
}



