#keyboard__container{
    padding: 0px 0px 12px 12px;
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
    margin: 200px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: max-content;
}
.all__sec,.last__sec {
    display: flex;
}
.all__sec> div{

    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 12px;
    margin-top: 12px;
    border-radius: 5px;
    background-color: white;
}
.last__sec >div{

    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 12px;
    margin-top: 12px;
    border-radius: 5px;
    background-color: white;
}

#back-space{
    width: 152px;
}
#tab{
    width: 106px;
}
#caps-lock{
    width: 115px;
}
#enter{
    width: 170px;
}
#left-shift{
    width: 150px;
}
#right-shift{
    width: 208px;
}
#space{
    width: 517px;

    
}
#space span{

    font-size: 30px;
    transform: rotate(90deg) translateX(5px);
    
}



